#alias sudo='sudo env PATH=$PATH'

# GNU ls color
ls --color=auto > /dev/null 2>&1 && alias ls='ls --color=auto'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ll='ls -halF'
alias la='ls -A'
alias l='ls -CF'

alias ..='cd ..'

alias rd=rmdir
alias md='mkdir -p'

alias c='f -d -e cd'
alias z='f -d -e cd'
alias e='f -f -e vim'

[ -s "$HOME/.aliases.local" ] && . "$HOME/.aliases.local"

# vim: se ft=sh:
