#alias sudo='sudo env PATH=$PATH'

alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ll='ls -halF'
alias la='ls -A'
alias l='ls -CF'

alias ..='cd ..'

alias rd=rmdir
alias md='mkdir -p'

alias c='f -d -e cd'
alias e='f -e vim'
alias m='f -e mplayer'

[ -s "$HOME/.aliases.local" ] && source $HOME/.aliases.local

# vim: se ft=sh:
