# GNU ls color
ls --color=auto > /dev/null 2>&1 && alias ls='ls --color=auto'

# Only some grep supports `--color=auto'
if echo x | grep --color=auto x > /dev/null; then
  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

alias ll='ls -halF'
alias la='ls -A'
alias l='ls -CF'
alias lt='ls -t'
alias lS='ls -S'

alias df='df -h'
alias du='du -h'

command -v free > /dev/null && \
  alias free='free -h'

alias ..='cd ..'

alias rd=rmdir
alias md='mkdir -p'

alias e='f -e vim'
alias m='f -e mplayer'
alias v='f -t -e vim -b viminfo'
alias o='f -e xdg-open'

[ -s "$HOME/.aliases.local" ] && . "$HOME/.aliases.local"

# vim: se ft=sh:
