[color]
  ui = auto
[user]
  name = Wei Dai
  email = x@wei23.net
[core]
  editor = vim
  excludesfile = ~/.ignore
[alias]
  ci = commit
  co = checkout
  rb = rebase
  st = status
[merge]
  tool = vimdiff
