[submodule ".vim"]
	path = .vim
	url = https://github.com/clvv/dotvim.git
[submodule "lib/z"]
	path = lib/z
	url = https://github.com/rupa/z.git
[submodule "lib/v"]
	path = lib/v
	url = https://github.com/rupa/v.git
[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "lib/urxvt-perls"]
	path = lib/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "lib/f"]
	path = lib/f
	url = https://github.com/clvv/f.git
