[color]
  ui = auto
[user]
  name = Wei Dai
  email = me@wdai.us
[core]
  editor = vim
  excludesfile = ~/.ignore
[alias]
  ci = commit
  co = checkout
  rb = rebase
  st = status
[merge]
  tool = vimdiff
[push]
	default = simple
[credential]
	helper = store --file ~/.my-credentials
[init]
	defaultBranch = main
