$include /etc/inputrc

set bell-style none
set completion-ignore-case on
set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on

$if Bash
  Space: magic-space
$endif

"\ek": history-search-backward
"\ej": history-search-forward

# Tab to menucomplete, Shift + Tab to do it backward
Tab: menu-complete
"\e[Z": menu-complete-backward

# set editing-mode vi

$if mode=vi
  set keymap vi-insert
  "\C-l": clear-screen
  "\C-w": backward-kill-word
  "\C-a": beginning-of-line
  "\C-e": end-of-line
$endif
